@define-color background #222226;
@define-color foreground #ffffff;
@define-color blue #81d0ff;
@define-color teal #7bdff4;
@define-color green #8de698;
@define-color yellow #ffc057;
@define-color orange #ff9c5b;
@define-color red #ff888c;
@define-color pink #ffa0d8;
@define-color purple #fba7ff;
@define-color slate #bbd1e5;

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: MesloLGS NF, Symbols Nerd Font Mono;
  font-size: 16px;
}
window#waybar {
  background-color: rgba(0, 0, 0, 0);
  transition-property: background-color;
  transition-duration: 0.5s;
}
window#waybar.hidden {
  opacity: 0.5;
}
#workspaces button {
  all: initial;
  min-width: 0;
  box-shadow: inset 0 -3px transparent;
  padding: 6px 18px;
  margin: 6px 3px;
  border-radius: 4px;
  background-color: @foreground;
  color: @background;
}
#workspaces button.empty {
  color: @foreground;
  background-color: @background;
}
#workspaces button.focused {
  color: @background;
  background-color: @blue;
}
#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: @background;
  background-color: @foreground;
}
#workspaces button.urgent {
  background-color: @red;
  color: @foreground;
}
#backlight,
#mode,
#submap,
#memory,
#battery,
#cpu,
#pulseaudio,
#wireplumber,
#bluetooth,
#network,
#clock,
#tray {
  border-radius: 4px;
  margin: 6px 3px;
  padding: 6px 12px;
  background-color: @background;
  color: @foreground;
}
#battery.warning,
#battery.critical,
#battery.urgent,
#network.disconnected,
#network.disabled,
#pulseaudio.muted,
#bluetooth.disabled {
  background-color: @red;
  color: @background;
}
#bluetooth.discoverable,
#bluetooth.discovering,
#bluetooth.pairable {
  background-color: @blue;
  color: @background;
}
#battery.charging,
#network.ethernet,
#network.wifi,
#bluetooth.connected {
  background-color: @green;
  color: @background;
}
#battery.discharging {
  background-color: @yellow;
  color: @background;
}